@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.center {
  position: relative;
  top: 15px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.center1 {
  position: relative;
  top: 75px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -75%);
}

.center-welcome {
  top: 10rem;
}
